{% extends 'layout.html.twig' %}

{% block content %}

    <main class="admin_comments_page">
        <div class="dashbord">
            <h4 class="title">Tableau de bord</h4>
            <div class="users"><a href="?action=admin_users">Utilisateurs</a></div>
            <div class="articles"><a href="?action=admin_articles">Articles</a></div>
            <div class="comments"><a href="?action=admin_comments">Commentaires</a></div>
        </div>
        <div class="recap">
            {% if allComments is defined and allComments is not empty %}
                <table>
                    <tr class="subject_infos">
                        <th class="autor">Auteur</th>
                        <th class="comment">Commentaire</th>
                        <th class="date">Date de publication</th>
                    </tr>
                    {% for comment in allComments %}
                        <tr class="infos_comments">
                            <td class="none">
                                <form action="?action=admin_comments"  method="POST">
                                    <input type="text" name="comment_id" value="{{ comment.id }}">
                                    <input id="{{ comment.id }}" type="submit">
                                </form>
                            </td>
                            <td class="autor"><span class="id1">ID: </span><span class="id_val1">{{ comment.user_id }}</span> a commenté l'article <span class="id_val2">{{ comment.article_id }}</span></td>
                            <td class="comment"><span class="id3">ID: </span><span class="id_val3">{{ comment.id }}</span>&nbsp;&nbsp;{{ comment.content | slice(0, 100)}} </td>
                            <td class="date">{{ article.date | date("d/m/y")}}<label for="{{ comment.id }}"><img src="assets/img/delete.png"></label></td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </main>

{% endblock %}
