{% extends 'layout.html.twig' %}

{% block content %}

    <main class="admin_users_page">
        <div class="dashbord">
            <h4 class="title">Tableau de bord</h4>
            <div class="users"><a href="?action=admin_users">Utilisateurs</a></div>
            <div class="articles"><a href="?action=admin_articles">Articles</a></div>
            <div class="comments"><a href="?action=admin_comments">Commentaires</a></div>
        </div>
        <div class="recap">
             {% if allUsers is defined and allUsers is not empty %}
                 <table>
                     <tr class="subject_infos">
                         <th class="username">Nom d'utilisateur</th>
                         <th class="email">Adresse email</th>
                         <th class="registerDate">Date d'inscription</th>
                     </tr>
                     <tr class="infos_users">
                         <td><span class="id">ID: </span><span class="id_val">{{ user.id }}</span>&nbsp;&nbsp;{{ user.username }}</td>
                         <td>{{ user.email }}</td>
                         <td>{{ user.registerDate | date("d/m/y")}}<label><img src="assets/img/checkmark-for-verification.png"></label></td>
                     </tr>
                     {% for user in allUsers %}
                     <tr class="infos_users">
                         <td class="none">
                             <form action="?action=admin_users" method="POST">
                                 <input type="text" name="user_id" value="{{ user.id }}">
                                 <input id="{{ user.id }}" type="submit">
                             </form>
                         </td>
                         <td><span class="id">ID: </span><span class="id_val">{{ user.id }}</span>&nbsp;&nbsp;{{ user.username }}</td>
                         <td>{{ user.email }}</td>
                         <td>{{ user.registerDate | date("d/m/y")}}<label for="{{ user.id }}"><img src="assets/img/delete.png"></label></td>
                     </tr>
                     {% endfor %}
                 </table>
             {% endif %}
        </div>
    </main>

{% endblock %}
