{% extends 'layout.html.twig' %}

{% block content %}

    <main class="admin_articles_page">
        <div class="dashbord">
            <h4 class="title">Tableau de bord</h4>
            <div class="users"><a href="?action=admin_users">Utilisateurs</a></div>
            <div class="articles"><a href="?action=admin_articles">Articles</a></div>
            <div class="comments"><a href="?action=admin_comments">Commentaires</a></div>
        </div>
        <div class="recap">
            {% if allArticle is defined and allArticle is not empty %}
                <table>
                    <tr class="subject_infos">
                        <th class="autor">Auteur</th>
                        <th class="title">Sujet</th>
                        <th class="date">Date de publication</th>
                    </tr>
                    {% for article in allArticle %}

                        <tr class="infos_articles">
                            <td class="none">
                                <form action="?action=admin_articles" method="POST">
                                    <input type="text" name="article_id" value="{{ article.id }}">
                                    <input id="{{ article.id }}" type="submit">
                                </form>
                            </td>
                            <td class="autor">{{ autor.username }}</td>
                            <td class="title"><span class="id">ID: </span><span class="id_val">{{ article.id }}</span>&nbsp;&nbsp;{{ article.title | slice(0, 100)}} </td>
                            <td class="date">
                                {{ article.date | date("d/m/y")}}
                                <span class="label">
                                    {% if article.visible == 0 %}
                                    <img src="assets/img/invisible.png">
                                    {% endif %}
                                    <a href="?action=edit_article&token={{ article.token }}">
                                        <img src="assets/img/edit.png">
                                    </a>&nbsp;
                                    <label for="{{ article.id }}">
                                        <img src="assets/img/delete.png">
                                    </label>
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </main>

{% endblock %}
