{% extends 'layout.html.twig' %}

{% block content %}
    <main class="article_page">
       <div class="article">
           {% if tokenExist is defined and tokenExist == true %}
               <h2 class="title_article">
                   {% autoescape false %}
                       {{ article.title | striptags }}
                   {% endautoescape %}
               </h2>
               {% set comNb = article.id %}
               <p class="resume_autor">
                   <img  class="me" src="assets/img/me.jpg" alt="img">
                   <span class="autor">{{autor.username}}</span>&nbsp;
                   <img  src="assets/img/calendar.png" alt="img">
                   <span class="date">{{ article.date | date("M d Y") }}</span>&nbsp;
                   <a href="?action=article&token={{ article.token }}#commentBox" id="goCom">
                   <img class="icon_comment"  title="Commenter" src="assets/img/com.png">&nbsp;Commenter
                   </a>&nbsp;
                   <img class="icon_comment" src="assets/img/eye.png">&nbsp;{{ article.countVisites }}
               </p>
               <div class="img">
                   <img src="{{ article.file }}" alt="article_img">
               </div>
               <div class="content_article">
                   <p>
                       {% autoescape false %}
                           {{ article.content | raw  }}
                       {% endautoescape %}
                   </p>
               </div>
               <div class="share-button">
                   <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: fr_FR</script>
                   <script type="IN/Share"></script>
               </div>
                   <div class="comment-box" id="commentBox">
                   {% if isLog is defined and isLog == true %}
                       <h4 class="title">Commentaires</h4>
                       <div class="available_comment">
                            {% if comments is defined and comments is not empty %}
                                {% for comment in comments %}
                                    <p><span class="userComment">{{ comment.userComment }}
                                            {% if comment.adminComment == true %}
                                                &nbsp;<img src="assets/img/ok.png" alt="img">
                                            {% endif %}
                                            : </span>&nbsp;&nbsp;<span class="dateComment">{{ comment.dateComment | date("F jS \\a\\t g:ia")}}</span> <br> <span class="content_comment">{{ comment.contentComment | nl2br }}</span></p>                                {% endfor %}
                                {% else %}
                                    <p class="zeroComment">Aucun commentaire pour l’instant.</p>
                            {% endif %}
                       </div>
                       <div class="comment">
                           <p class="error_comment"></p>
                           <form action="?action=article&token={{ article.token }}" name="form-comment" id="formComment" METHOD="POST">
                               <input type="text" class="none articleIdAjax" name="article_id" value="{{ article.id }}"/>
                               <input type="text" class="none articleUserAjax" name="user_id" value="{{ user.id }}"/>
                               <textarea class="contentCommentAjax" name="content_comment" placeholder="Votre commentaire..."></textarea>
                               <button type="submit" class="button"><img src="assets/img/chat.png">&nbsp;&nbsp;Commenter</button>
                           </form>
                       </div>
                       {% else %}
                           <div class="cantComment">
                               <a href="?action=reglog&from=article&token={{ article.token }}">
                                   Connectez-vous pour pouvoir commenter
                               </a>
                           </div>

                   {% endif %}
               </div>
               {% else %}
                    <div>Cet article n'est plus disponible</div>
           {% endif %}
       </div>
    </main>
{% endblock %}
