{% extends 'layout.html.twig' %}

{% block content %}
    <main class="forum_page">
        <div class="need_ask_question">
            {% if user is defined and user is not empty %}
                <p class="ask_question"><img src="assets/img/ask.png">&nbsp;&nbsp;Poser une question</p>
                {% else %}
                    <p class="cant"><a href="?action=reglog&from=forum"><img src="assets/img/ask.png">&nbsp;&nbsp;Poser une question</a></p>
            {% endif %}
        </div>
        <div class="forum_container">
            <div class="container_form">
                <h2 class="title">Forum</h2>
                <span class="error_block_ask_question"></span>
                <span class="success_block_ask_question"></span>
                <form action="" id="formASkQuestion" METHOD="POST">
                    <div class="forum_form" >
                        <label for="sujet"><p>Sujet de la question: </p></label>
                        <input type="text" id="sujet" class="sujet" name="sujet" placeholder="Sujet de la question">
                        <input type="text" name="user_id" class="none" value="{{ user.id }}">
                    </div>
                    <div class="forum_form" >
                        <label for="question"><p>Question : </p></label>
                        <textarea name="editor1" class="ckeditor" id="editor1" placeholder="Votre question..."></textarea>
                        <script>
                            CKEDITOR.replace( 'editor1' );
                        </script>
                    </div>
                    <button type="submit" class="button">Valider</button>
                </form>
            </div>
        </div>
        <div class="questions">
            <h3 class="title">Forum</h3>
            <div class="availables_questions">
                {% if questions is defined and questions is not empty %}
                    <div class="subject">
                        Sujet
                    </div>
                    <div class="response">
                        Réponse
                    </div>
                    <div class="date">
                        Date
                    </div>
                    <div class="content-questions">
                        {% for question in questions %}
                            <div class="subject-content">
                                <a href="?action=questions_responses&token={{ question.token }}">{{ question.sujet }}</a>
                            </div>
                            <div class="response-content">
                                {{ countAnswers[question.id] }}
                            </div>
                            <div class="date-content">
                                {{ question.date | date("d/m/y H:i") }}
                            </div>
                        {% endfor %}
                    </div>
                    {% else %}
                        <p class="zeroQuestion">Pas de questions pour l'instant</p>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
