{% extends 'layout.html.twig' %}

{% block content %}
    <main class="questions_responses_page">
        {% if tokenExist is defined and tokenExist == true %}
            <div class="box">
                <div class="question_box">
                    <h2>{{ question.sujet }}</h2>
                    <div class="question_box_bis">
                        <p class="username">{{ autor }} :</p>
                        <p class="question">{{ question.question | raw | nl2br}}</p>
                        <p class="date">{{ question.date | date("d/m/Y à h:m", "Europe/Paris")}}</p>
                    </div>
                </div>
                <div class="other">
                    <div class="answers_box">
                        {% if answers is defined and answers is not empty %}
                            {% for answer in answers %}
                                <div class="answers">
                                    <p class="username">{{ userAnswer[answer.id] }} :</p>
                                    <div class="answer">{{ answer.content | raw | nl2br}}</div>
                                    <p class="date">{{ answer.date | date("d/m/Y à h:m", "Europe/Paris")}}</p>
                                </div>
                            {% endfor %}
                                {% else %}
                                    <p class="zeroAnswer">Aucune réponse à cette question pour l’instant.</p>
                        {% endif %}
                    </div>
                    {% if isLog is defined and isLog == true %}
                        <div class="comment">
                            <p class="error_answer"></p>
                            <form action="?action=questions_responses&token={{ question.token }}" name="form-answer" id="formAnswer" METHOD="POST">
                                <input type="text" class="none articleIdAjax" name="question_id" value="{{ question.id }}"/>
                                <input type="text" class="none articleUserAjax" name="user_id" value="{{ user.id }}"/>
                                <textarea class="contentCommentAjax ckeditor" name="editor1" id="editor1" placeholder="Votre réponse..."></textarea>
                                <button type="submit" class="button"><img src="assets/img/chat.png">&nbsp;&nbsp;Commenter</button>
                            </form>
                        </div>
                        {% else %}
                            <div class="cantComment">
                                <a href="?action=reglog&from=questions_responses&token={{ question.token }}">
                                    Connectez-vous pour pouvoir répondre
                                </a>
                            </div>
                    {% endif %}
                </div>
                {% else %}
                    <p id="tokenNotExist">Ce contenu n'est plus disponible</p>
            </div>
        {% endif %}
    </main>
{% endblock %}
