{% extends 'layout.html.twig' %}

{% block content %}

    <main class="user_page">
        <div class="container_form">
            <h2 class="title">Modifier mes coordonnées</h2>
            {% if errorsUpdateContact is defined and errorsUpdateContact is not empty %}
                {% for error in errorsUpdateContact %}
                    <span class="error_block">{{ error }}</span><br>
                {% endfor %}
            {% endif %}
            <form action="?action=user" method="POST">
                <div class="login_form" >
                    <label for="username"><p>Votre nom : </p></label>
                    <input id="username" type="text" name="username" value="{{ user.username }}">
                </div>
                <div class="login_form" >
                    <label for="email"><p>Votre adresse email : </p></label>
                    <input type="text" id="email" name="email" value="{{ user.email }}">
                </div>
                <button type="submit" name="updateContact" class="button"><img src="assets/img/update.png">&nbsp;&nbsp;Modifier mes coordonnées</button>
            </form>
        </div>
        <div class="container_form">
            <h2 class="title">Modifier mon mot de passe</h2>
            {% if errorsUpdatePassword is defined and errorsUpdatePassword is not empty %}
                {% for error in errorsUpdatePassword %}
                    <span class="error_block">{{ error }}</span><br>
                {% endfor %}
            {% endif %}
            {% if successUpdatePassword is defined and successUpdatePassword is not empty%}
                {% for message in successUpdatePassword %}
                    <span class="success_block">{{ message }}</span><br>
                {% endfor %}
            {% endif %}
            <form action="?action=user" method="POST">
                <div class="login_form" >
                    <label for="password"><p>Actuel mot de passe : </p></label>
                    <input id="password" type="password" name="oldPassword" placeholder="Actuel mot de passe">
                </div>
                <div class="login_form" >
                    <label for="verifpassword"><p>Nouveau mot de passe : </p></label>
                    <input type="password" id="verifpassword" name="newPassword" placeholder="Nouveau mot de passe">
                </div>
                <button type="submit" name="updatePassword" class="button"><img src="assets/img/update.png">&nbsp;&nbsp;Modifier mon mot de passe</button>
            </form>
        </div>
    </main>

{% endblock %}
